---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import logo from "../images/LogoWDropShadow.svg";
import github from "../images/github.svg";
import coreExample from "../contracts/example_core";
import statusMessage from "../contracts/example_status_message";

const coreMethods = Object.keys(coreExample);
const statusMessageMethods = Object.keys(statusMessage);

console.log({ coreMethods, statusMessageMethods });
---

<script is:inline>
  var global = global || window;
</script>
<Layout title="Hello Loam">
  <main>
    <div class="banner">
      <nav>
        <a href="https://github.com/loambuild">
          <img src={github.src} alt="GitHub" />
        </a>
      </nav>

      <div class="container">
        <h1>
          <img src={logo.src} alt="LOAM" />
        </h1>
        <h2>Hello Loam</h2>
        <div class="intro">
          <div class="instructions">
            <p>
              This project includes two Loam contracts: <code>Core</code> and <code
                >StatusMessage</code
              > located in the <code>contracts/</code> directory.
            </p>

            <p>
              When you ran <code>npm run dev</code>, Loam bound these contracts
              to Typescript clients in the <code>src/contracts/</code> directory.
            </p>
          </div>
          <ul role="list" class="link-card-grid">
            <Card
              href="https://docs.astro.build/"
              title="Astro Docs"
              body="Learn how Astro works and explore the official API docs."
            />
            <Card
              href="https://loam.build/"
              title="Loam Homepage"
              body="Learn about Loam."
            />
          </ul>
        </div>
      </div>
    </div>
  </main>

  <style>
    nav {
      display: flex;
      justify-content: flex-end;
      overflow: visible;
      padding: 1em;
      position: absolute;
      right: 0;
      top: 0;
    }
    nav img {
      height: 1em;
    }
    nav a {
      opacity: 0.4;
      margin-left: 0.75em;
      border-bottom: 1px solid transparent;
    }
    .banner {
      background-image: url(../images/mycelium.png);
      background-size: calc(max(100%, 1920px)) 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
    }
    .banner > .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      margin: auto;
      padding: 0 1.25rem;
      max-width: 75ch;
    }
    .banner > .container > h1,
    .banner > .container > h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      justify-content: center;
    }
    h1 {
      height: 12%;
    }
    h1 img {
      height: 75%;
    }
    h2 {
      height: 33%;
      font-size: 4em;
      text-align: center;
      max-width: 10em;
      max-width: 100%;
      font-family: Quicksand, system-ui, sans-serif;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 7px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
    .intro {
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
