---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
  :root {
    --yellow: rgb(224, 189, 63);
    --shadow: rgba(66, 82, 57, 0.29);
    --maroon: #7c3d24;
    --darkest-green: rgb(37, 44, 31);
    --dark-green: #425239;
    --light-green: #8db73f;
    --lavendar: #a39dae;
    --fg: white;
    --gray: var(--lavendar);
    --link: var(--lavendar);
    --black: rgb(21, 19, 15);
    --heading: var(--yellow);
    --bg: var(--darkest-green);
  }
  html {
    background-color: var(--darkest-green);
    box-sizing: border-box;
    color: var(--fg);
    font-size: 18px;
    font-family: Quicksand, system-ui, sans-serif;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading);
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
  h1,
  h2 {
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-size: 2.2em;
  }

  @media (min-width: 420px) {
    html {
      font-size: 22px;
    }
  }
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  a {
    color: var(--link);
    text-decoration: none;
  }
  a:focus,
  a:hover {
    border-bottom: 1px solid var(--yellow);
  }
  button,
  .button {
    background: var(--darkest-green);
    border-radius: 100em;
    border: 4px solid var(--yellow);
    color: var(--fg);
    cursor: pointer;
    font: inherit;
    padding: 0.5em 1em;
    position: relative;
    transition: transform 50ms;
  }
  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    background: var(--yellow);
    border-width: 4px;
    color: var(--darkest-green);
    transform: translateY(-1px);
  }
  button:active,
  .button:active {
    transform: translateY(3px);
  }
  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    font-family: monospace;
    white-space: break-spaces;
    background-color: #6e768166;
    border-radius: 6px;
  }
  .container {
    margin: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 75ch;
  }
  .columns img {
    display: none;
  }
  @media (min-width: 750px) {
    .columns img {
      display: block;
      max-width: 100%;
    }
    .columns {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1rem 2rem;
      align-items: center;
    }
  }
</style>
